@model tutorialspoint_test_API_framework.Models.office

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>office</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
